<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641734608861-hfd36a2botcj2bg61c6te7svph2e2u0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641734608861-hfd36a2botcj2bg61c6te7svph2e2u0l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>641734608861-ag5cr1rkl98cm7vuhtn43tuno77efskv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBx1pqTBIL2-oWFt1ZHDEf8_thYAx59zrk</string>
	<key>GCM_SENDER_ID</key>
	<string>641734608861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatx</string>
	<key>PROJECT_ID</key>
	<string>chatx-18788</string>
	<key>STORAGE_BUCKET</key>
	<string>chatx-18788.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641734608861:ios:7acd2e82ff03812c005834</string>
</dict>
</plist>